<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Список товаров</title>
    </head>
    <body>
        <table>
            <tr>
                <td>Название</td>
                <td>Описание</td>
                <td>Цена</td>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>{{ item.price }} руб</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
